/** {
   outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}*/

.main-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(https://www.ametsoc.org/stac/assets/Image/MOUNTAIN_image/Snow-Covered%20Sierra%20Nevada%20Mountains,%20California.jpg); /* main bg image */
    height: 100%;
    /*margin-bottom: 50px;*/
    width: 100%;
    text-align: center;
    display: table;
    position: fixed;
}
.center-header {
    vertical-align: middle;
    display: table-cell;
}

.social { padding-top: 25px; }
.social a {
    font-size: 44px;
    margin: 5px;
    color: #000000;
    opacity: 0.6;
    line-height: 44px;
}
.social a:hover {
    opacity: 1;
    color: #000000;
}

/*.name {
    width: 50%;
    margin: 0 auto;
    border: 50%;
    text-align: center;
    vertical-align: middle;
}*/